#numeri{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: burlywood;
    font-size: 1.5rem;
}

.fizz{
    background-color: blue;
    color: white;
}

.buzz{
    background-color: red;
    color: white;
}

.fizz-buzz{
    background-color: green;
    color: white;
}